<h1>dollscape</h1>
  <button class="save-btn">save</button>
  <button class="make-doll-btn">make doll</button>
  <div class="doll-house">
</div>
<!-- <div id="svg">
</div>

<svg>
  </svg> -->
  <%= image_tag 'doll.svg'  %>
  <script>
var s = Snap();



//removes pants if doubleclicked
// pants.dblclick(function(){
//   var i = clothesArr.indexOf(this);
//   clothesArr.splice(i,1);
//   clothesOff(this);
// })
// clothesOff(pants);

</script>
